graft docs
graft src

include *.rst
include LICENSE
include requirements.txt
include CODE_OF_CONDUCT.md
include *.yml

recursive-include example *.rst
recursive-include example *.txt
recursive-include example *.xz
recursive-include thirdparty *.com
recursive-include thirdparty *.pdb
recursive-include thirdparty *.tab
recursive-include thirdparty *.tbl
recursive-include thirdparty *.txt
recursive-include thirdparty *.yml
recursive-include joss *.bib
recursive-include joss *.md

exclude .appveyor.yml
exclude .bumpversion.cfg
exclude .codacy.yaml
exclude .coveragerc
exclude .cookiecutterrc
exclude .editorconfig
exclude .readthedocs.yml
exclude .codeclimate.yml
exclude tox.ini
exclude .travis.yml

prune devtools
prune tests

global-exclude *.py[cod] __pycache__/* *.so *.dylib 
global-exclude tags
global-exclude *.swp
